.vs/
2D-Shooter.sln
2D-Shooter.vcxproj
2D-Shooter.vcxproj.filters
2D-Shooter.vcxproj.user
addons.make
icon.rc
obj/
bin/2D-Shooter.exe
bin/2D-Shooter.exp
bin/2D-Shooter.iobj
bin/2D-Shooter.ipdb
bin/2D-Shooter.lib
bin/2D-Shooter_debug.exe
bin/2D-Shooter_debug.exp
bin/2D-Shooter_debug.ilk
bin/2D-Shooter_debug.lib
bin/2D-Shooter_debug.pdb
bin/FreeImage.dll
bin/data/.gitkeep
bin/data/settings.xml
bin/fmodex.dll
bin/fmodex64.dll
bin/fmodexL.dll
bin/fmodexL64.dll
2D-Shooter.xcodeproj/
Makefile
Project.xcconfig
config.make
openFrameworks-Info.plist
.DS_Store
bin/2D-ShooterDebug.app/
src/.vscode